@model IEnumerable<PartyProductMVC.Models.AssignParty>

@{
    ViewBag.Title = "AssignParty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped w-75">
    <h2>AssignParty</h2>
    <tr>
        <th>Party Id</th>
        <th>Party Name</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Action</th>
        }
    </tr>
    @foreach (var assignParty in Model)
    {
        <tr>
            <td>@assignParty.Party.PartyName</td>
            <td>@assignParty.Product.ProductName</td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "AssignEdit", new { id = assignParty.AssignId }, new { @class = "mr-3 btn btn-success btn-sm" })
                    @Html.ActionLink("Delete", "AssignDelete", new { id = assignParty.AssignId }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            }
        </tr>
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Assign Party", "AssignAdd", null, new { @class = "btn btn-info my-4" })
    }

</table>