@model IEnumerable<PartyProductMVC.Models.AssignParty>

@{
    ViewBag.Title = "AssignParty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignParty</h2>
<table class="table table-striped">
    <tr>
        <th>Party Id</th>
        <th>Party Name</th>
    </tr>
    @foreach(var assignParty in Model)
    {
        <tr>
            <td>@assignParty.Party.PartyName</td>
            <td>@assignParty.Product.ProductName</td>
            <td>@Html.ActionLink("Edit", "AssignEdit", new { id = assignParty.AssignId })</td>
            <td>@Html.ActionLink("Delete", "AssignDelete", new { id = assignParty.AssignId })</td>
        </tr>
    }

    @Html.ActionLink("Assign Party", "AssignAdd", null , new { @class = "btn btn-info mt-4" })
</table>