@model IEnumerable<PartyProductMVC.Models.Party>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>Party Id</th>
        <th>Party Name</th>
    </tr>
    @foreach (var party in Model)
    {
        <tr>
            <td>@party.PartyId</td>
            <td>@party.PartyName</td>
            @if (User.IsInRole("Admin"))
            {
                <td>@Html.ActionLink("Edit", "PartyEdit", new { id = party.PartyId })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = party.PartyId })</td>
            }

        </tr>
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Party", "PartyAdd", null, new { @class = "btn btn-info mt-4" })
    }

</table>
