@model IEnumerable<PartyProductMVC.Models.Party>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>Party Id</th>
        <th>Party Name</th>
    </tr>
    @foreach (var party in Model)
    {
        <tr>
            <td>@party.PartyId</td>
            <td>@party.PartyName</td>
            <td>@Html.ActionLink("Edit", "PartyEdit", new { id = party.PartyId })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = party.PartyId })</td>
        </tr>
    }

    @Html.ActionLink("Add Party", "PartyAdd", new {id = 0 }, new { @class = "btn btn-info mt-4" })


</table>
