@model PartyProductMVC.Models.Party
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("SaveParty","Party"))
{
    @Html.HiddenFor(model => Model.PartyId)
<div class="form-group">
    @Html.LabelFor(model => Model.PartyName, new { @class = "col-form-label mt-4 " })
    @Html.TextBoxFor(model => Model.PartyName, new { @class = "form-control " })
    @Html.ValidationMessageFor(model => Model.PartyName, "", new { @class = "text-danger" })
    @Html.ValidationMessage("CustomErrorKey", new { @class = "text-danger" })
</div>
    <button class="btn btn-info mt-4">Submit</button>
}
<script>


</script>


